# ===== BACKEND (Spring Boot) =====
backend/target/
backend/*.jar
backend/*.class
backend/.vscode/
backend/launch.json

# ===== FRONTEND (Angular) =====
frontend/node_modules/
frontend/dist/
frontend/.angular/
frontend/*.log

# ===== IDE =====
.vscode/
.idea/
*.iml
launch.json

# ===== SISTEMA =====
.DS_Store
Thumbs.db

# ===== VARIABLES DE ENTORNO =====
*.env
*.env.local
backend/application-prod.properties